imageio==2.31.5
keras==2.13.1
keras-contrib @ git+https://www.github.com/keras-team/keras-contrib.git@3fc5ef709e061416f4bc8a92ca3750c824b5d2b0
matplotlib==3.7.3
scikit-image==0.21.0
tensorflow==2.13.1